<%- include('partials/header') %>

<div class="ui main text container segment">
    <div class="ui huge header" style="text-align: center;">EDIT LISTING</div>
    <form
        action="/listings/<%= list._id%>?_method=PUT"
        class="ui form"
        method="POST"
    >
        <div class="field">
            <label>House Type</label>
            <input
                type="text"
                name="list[houseType]"
                value="<%= list.houseType%>"
            />
        </div>
        <div class="field">
            <label>Price</label>
            <input type="text" name="list[price]" value="<%= list.price%>" />
        </div>
        <div class="field">
            <label> Image</label>
            <input type="text" name="list[image]" value="<%= list.image%>" />
        </div>

        <div class="field">
            <label>Description</label>
            <input
                type="text"
                name="list[description]"
                value="<%= list.description%>"
            />
        </div>

        <div class="flex-box">
            <div>
                <input class="ui inverted big primary button" type="submit" />
            </div>
        </div>
    </form>
</div>
