<%- include('partials/header') %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>WELCOME TO STAYCALM</h1>
            <p>
                View our listings from all over the USA!!!
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="./listings/new">
                    Add New listings</a
                >
            </p>
        </div>
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% lists.forEach(function(list){ %>

        <div class="col-md-3 col-sm-12">
            <div class="thumbnail">
                <img
                    src="<%= list.image %>"
                    width="400"
                    height="300"
                    alt="<%= list.name%>"
                />
                <p><%= list.name%></p>
                <p><%= list.lastName%></p>
                <p><%= list.houseType%></p>
                <p><%= list.address%></p>
                <p><%= list.city%></p>
                <p><%= list.state%></p>
                <p><%= list.zip%></p>
                <p><% list.image%></p>
                <p><%= list.price%>$</p>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<%- include('partials/footer') %>
