<%- include('partials/header') %>

<h2>
    <%= list.houseType%> <br />
    owned by
    <strong><%= list.name%> <%= list.lastName%></strong>
</h2>
<h4>
    <strong> Location:</strong> <%= list.address%> <%= list.city%> <%=
    list.state%> <%= list.zip%>
</h4>

<h2>
    $<%= list.price%> per day
</h2>

<h2>
    <img src="<%= list.image%>" alt="" />
</h2>

<h2>
    DESCRIPTION: <%= list.description%>
</h2>
<div class="buttons">
    <div>
        <p>
            <a class="ui red basic button" href="/listings/">Lists</a>
        </p>
    </div>
    <div>
        <p>
            <a class="ui red basic button" href="/listings/<%=list.id%>/edit"
                >Edit</a
            >
        </p>
    </div>
    <div>
        <form
            id="delete"
            action="/listings/<%=list._id%>?_method=DELETE"
            method="POST"
        >
            <button class="ui red basic button">Delete</button>
        </form>
    </div>
</div>
